.Login{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.header{
    display: flex;
    justify-content: center;
}
.header img{
    padding: 5px;
    border-radius: 500px;
    background: linear-gradient(rgb(255, 255, 113), #40e0d0);
    box-shadow: 0 0 70px rgba(0, 0, 0, 0.1);
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border-radius: 8px;
    background-color: #f0f0f5;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.form div  h2{
    color: black;
    font-weight: bold;
    padding: 2px;
}

.form div form{
    display: flex;
    flex-direction: column;
}

.form div form input{
    border-radius: 100px;
    border: transparent;
    margin: 5px 0;
    padding: 1rem;
    background-color: rgb(219, 218, 218);
}
::placeholder{color:  rgb(138, 138, 138)}

.form div form button{
    padding: 0.5rem 0;
    background:#f0f0f5;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border: 0;
    border-radius: 15px;
    font-weight: bold;
    margin-top: 16px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    transition: filter 0.2s;
}

.form div form button:hover{
    filter: brightness(90%);
}

@media screen and (max-height: 580px){
    .header img{
        height: 80px;
        width: 80px;
    }

    .form div h2{
        font-size: 25px;
    }

    .form div form input{
        height: 40px;
        padding: .3rem;
    }
}

